@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.react-tagsinput {
  border-radius: 5px;
  border: none !important;
  width: 300%;
  outline: none;
}

.react-tagsinput + input {
  display: none;
}

.react-tagsinput-tag {
  display: inline-block;
  background-color: #3d59f022 !important;
  color: #3d59f0 !important;
  font-size: 0.875rem !important;
  border: none !important;
  font-family: inherit !important;
  white-space: nowrap;
  padding: 0.25rem 0.75rem !important;
  border-radius: 5px !important;
}
